importFrom(car, showLabels, hccm, Boxplot, powerTransform, bcPower, yjPower, dataEllipse)
importFrom(RcmdrMisc, KMeans)
importFrom(Rcmdr, ActiveDataSet, Message, gettextRcmdr, trim.blanks)
importFrom(clv, clv.Scatt, clv.Dis, clv.SD)
importFrom(flexclust, bootFlexclust, cclust, kcca, kccaFamily)
importFrom(rpart, rpart)

export(
    create.samples,
    variable.summary,
    relabel.factor,
    bpCent,
    bpCent3d,
    SD.clv,
    SDIndex,
    bootCH,
    bootPlot,
    bootCVD,
    lift.chart,
    scatterplotBCA, 
    scatterplotMatrixBCA,
    rankScore,
    rawProbScore,
    adjProbScore
)


S3method(scatterplotBCA, default)       
S3method(scatterplotBCA, formula)       
S3method(scatterplotMatrixBCA, default)
S3method(scatterplotMatrixBCA, formula)

